body {
    min-height: 100vh;
    margin: 0;
  
    display: flex;
    flex-direction: column;
  
    /* Flexionar o elemento para o centro no eixo principal */
    justify-content: center; 
    align-items: center;
  
    background-color: #0e0916;
    color: #ebebeb;
  
    font-family: 'Roboto', sans-serif;
  }
  
  .cabecalho {
    text-align: center;
  }
  
  .cabecalho > h1 {
    font-size: 40px;
    font-family: 'Caprasimo', cursive;
  }
  
  .cabecalho > h2 {
    font-size: 19px;
  }
  
  .conteudo {
    display: grid;
    gap: 5px;
  
    margin-top: 40px;
  }
  
  .controles {
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 5px;
  
    width: 100%;
    height: 40px;
  }
  
  .textbox-chute {
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 10px;
  
    font-size: 16px;
    font-weight: 600;
  
    text-align: center;
  }
  
  .btn-avaliar {
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 5px;
  
    width: 120px;
    height: 100%;
  
    background-color: #4cfd4c;
  
    font-size: 16px;
    font-weight: 600;
  
    border: 1px solid #4cfd4c;
    border-radius: 10px;
  
    transition: background-color 200ms ease-in-out;
  }
  
  .btn-avaliar:hover {
    background-color: #27ff27;
    cursor: pointer;
  }
  
  .btn-tentar-novamente {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  
    padding: 10px 15px;
  
    background-color: transparent;
    color: white;
  
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .btn-tentar-novamente:hover {
    background-color: #4f465d;
    cursor: pointer;
  }
  
  .notificacao-acerto {
    text-align: center;
  
    color: #4cfd4c;
  
    border: 1px solid #4cfd4c;
    border-radius: 15px;
  
    padding: 10px;
    max-width: 400px;
  
    position: absolute;
    left: 0;
    right: 0;
  
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .notificacao-erro {
    text-align: center;
    color: #ff1c1c;
  
    border: 1px solid #ff1c1c;
    border-radius: 15px;
    
    position: absolute;
    
    left: 0;
    right:0;
    
    padding: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  
    max-width: 400px;
  }